webservice/tag/src/main/resources/wsdl/tag/tag_gateway_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tag="http://archaeologydataservice.ac.uk/tag/schema"
    targetNamespace="http://archaeologydataservice.ac.uk/tag/schema"
    name="TagGateway">
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://archaeologydataservice.ac.uk/tag/schema" schemaLocation="tag_gateway_schema.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetTopRecords">
        <wsdl:part name="parameters" element="tag:GetTopRecords"/>
    </wsdl:message>
    <wsdl:message name="GetTopRecordsResponse">
        <wsdl:part name="parameters" element="tag:GetTopRecordsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetXsltTemplate">
        <wsdl:part name="parameters" element="tag:GetXsltTemplate"/>
    </wsdl:message>
    <wsdl:message name="GetXsltTemplateResponse">
        <wsdl:part name="parameters" element="tag:GetXsltTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="GetVersion">
        <wsdl:part name="parameters" element="tag:GetVersion"/>
    </wsdl:message>
    <wsdl:message name="GetVersionResponse">
        <wsdl:part name="parameters" element="tag:GetVersionResponse"/>
    </wsdl:message>
    <wsdl:portType name="TagGatewayPort">
        <wsdl:operation name="GetTopRecords">
            <wsdl:input message="tag:GetTopRecords"/>
            <wsdl:output message="tag:GetTopRecordsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetXsltTemplate">
            <wsdl:input message="tag:GetXsltTemplate"/>
            <wsdl:output message="tag:GetXsltTemplateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetVersion">
            <wsdl:input message="tag:GetVersion"/>
            <wsdl:output message="tag:GetVersionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TagGatewayPortBinding" type="tag:TagGatewayPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTopRecords">
            <soap:operation soapAction="http://archaeologydataservice.ac.uk/tag/schema/GetTopRecords"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetXsltTemplate">
            <soap:operation soapAction="http://archaeologydataservice.ac.uk/tag/schema/GetXsltTemplate"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetVersion">
            <soap:operation soapAction="http://archaeologydataservice.ac.uk/tag/schema/GetVersion"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TagGatewayService">
        <wsdl:port name="TagGateway" binding="tag:TagGatewayPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>